{% extends 'comparator/base.html' %}

{% block content %}
<header class="masthead">
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2>Réinitialisation mot de passe</h2>
                    <h3> Félication, Mot de passe changé avec succès</h3>
                    <a href="{% url 'log_in' %}">Se connecter</a>
                </div>
            </div>
        </div>
    </section>
</header>
{% endblock %}